---
import Layout from '../layouts/Layout.astro';
---

<Layout title="WebGL school report">
	<main>
		<h1>WebGL school report</h1>

		<ul role="list" class="link-card-grid">
			<li><a href="./001">001</a></li>
		</ul>
	</main>
</Layout>

<style>

</style>
